{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
</br>
    <h1 align="center">Créer nouveau Genre</h1>

    {{ include('genre/_form.html.twig') }}

{% endblock %}
